:root {
  --primary-color: #d90327;
  --secondary-color: #2f3d4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #d6e4ef;
}

section {
  box-sizing: border-box;
}
.header {
  height: 100px;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}

.bxs-spa {
  display: flex;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.header h1 span {
  font-size: 2rem;
  color: var(--secondary-color);
}

.container {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 770px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 25px 32px -32px #8db4d3, 0px 52px 48px -32px #a3b7c7;
  border-radius: 16px;
  padding: 24px;
  overflow: hidden;
}

.hero-image {
  display: flex;
  width: 450px;
  height: 200px;
  background: url(header.svg);
  border-radius: 20px;
}

.hero-foto {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-foto img {
  position: absolute;
  top: -60px;
  left: 30px;
}

.hero-foto h2 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 20px;
}

.hero-foto span {
  color: var(--primary-color);
  font-weight: 600;
}

.form {
  display: grid;
  margin-top: 2rem;
  padding: 0 16px;
}

.form .input-form {
  display: grid;
}

.form label {
  font-size: 1rem;
}

.form label.email {
  margin-bottom: 8px;
}

.form label.password {
  margin-top: 24px;
  margin-bottom: 8px;
}

.form input {
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #c6d1dc;
}

.form .remember {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.form .remember a {
  color: var(--secondary-color);
}

.form .login {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.form .not-robert {
  text-align: center;
  padding: 20px 0;
  color: var(--secondary-color);
}

.form .new-user {
  display: flex;
  justify-content: space-between;
}

.form .new-user button {
  width: 200px;
  padding: 16px 0;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hero-foto h2 {
    font-size: 15px;
    padding-left: 70px;
  }
  .container {
    width: 100vw;
  }

  .hero-image {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .form .input-form input {
    width: 80vw;
  }

  .form .remember {
    width: 80vw;
  }

  .form .login {
    width: 80vw;
  }

  .form .not-robert {
    width: 80vw;
  }

  .form .new-user {
    width: 80vw;
  }

  .form .new-user button {
    width: 150px;
  }
}
